<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Documento sin título</title>
    <link rel="Stylesheet" type="text/css" href="/static/estilos/estilo.css" />
</head>

<body>
    <div align='center'>
    <div class="contenedor">
        <div class='cabecera'>
            <h1>Mi Carrito Compras</h1>
        </div>

        <div class='cuerpo'>
            <div class='secundario'>
                {% block secundario %}
                {% endblock%}

            </div>

            <div class="principal">
                {% block cuerpo %}
                {% endblock %}
            </div>
        </div>

        <div class='pie'>
            <p>[pie pagina]</p>
        </div>
    </div>
    </div>
</body>
</html>
