<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Documento sin título</title>
    <link rel="Stylesheet" type="text/css" href="/static/estilos/estilo.css" />
</head>

<body>
    <div align='center'>
    <div class="contenedor">
        <div class='cabecera'>
            <h1>Mi Carrito Compras</h1>
        </div>

        <div class='cuerpo'>
            <div class='secundario'>
                <h3>Menu</h3>
                <ul>
                <li><a href='/catalogo/producto/listado/'>Catalogo de Productos</a></li>
                <li><a href=''>Mi Carrito</a></li>
                </ul>

                <br />
                {% if autenticate %}
                    <h3>Productos</h3>
                    <ul>
                    <li><a href='/catalogo/producto/nuevo/'>Agregar</a></li>
                    <li><a href='/catalogo/producto/listado-adm/'>Modificar</a></li>
                    <li><a href=''>Borrar</a></li>
                    </ul>
                    <br />
                    <h3>Categorias</h3>
                    <ul>
                    <li><a href='/catalogo/producto/agregar-categoria/'>Agregar</a></li>
                    <li><a href='/catalogo/producto/listado-categorias/'>Listado</a></li>
                    </ul>
                    <br />
                {% endif %}



                {% block secundario %}
                {% endblock%}

                {% block seccion %}
                    {% if autenticate %}
                        <p>online</p>
                    {% else %}
                        <p>offline</p>
                    {% endif%}
                {% endblock %}


            </div>

            <div class="principal">
                {% block cuerpo %}
                {% endblock %}
                <br />
            </div>
        </div>

        <div class='pie'>
            <p>[pie pagina]</p>
        </div>
    </div>
    </div>
</body>
</html>
