<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Documento sin título</title>
    <link rel="Stylesheet" type="text/css" href="/static/estilos/estilo.css" />
</head>

<body>
	<div class='contenedor_base'>
    
    <div class='cabecera'>
		<h1>Mi Carrito Compras</h1>
    </div>
     
    <div class='menu'>
		<a href=''>Catalogo</a>
	</div>
	
    <div class="cuerpo">
		<h2>Bienvenido</h2>
	</div>
    
	<div class='pie_pag'>
        [pie pagina]
	</div>
</div>
</body>
</html>
